<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a475_uxui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.475UXUI">
        <activity
            android:name=".gameplay.GameActivity"
            android:exported="false" />
        <activity
            android:name=".HomeScreenMultiPlayerChooseCharacterPlayerTwo"
            android:exported="false" />
        <activity
            android:name=".HomeScreenMultiPlayerDogSelectedPlayerOne"
            android:exported="false" />
        <activity
            android:name=".HomeScreenMultiPlayerChooseCharacterPlayerOne"
            android:exported="false" />
        <activity
            android:name=".HomeScreenSinglePlayerTigerSelected"
            android:exported="false" />
        <activity
            android:name=".HomeScreenSinglePlayerSnakeSelected"
            android:exported="false" />
        <activity
            android:name=".HomeScreenSinglePlayerDragonSelected"
            android:exported="false" />
        <activity
            android:name=".HomeScreenSinglePlayerMouseSelected"
            android:exported="false" />
        <activity
            android:name=".HomeScreenSinglePlayerPigSelected"
            android:exported="false" />
        <activity
            android:name=".HomeScreenSinglePlayerDogSelected"
            android:exported="false" />
        <activity
            android:name=".HomeScreenSinglePlayerChooseCharacter"
            android:exported="false" />
        <activity android:name=".GamePage" />
        <activity android:name=".HomeScreenChooseMode" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>