<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a475_uxui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.475UXUI">
        <activity
            android:name="homescreen.HomeScreenMultiPlayerDragonSelectedPlayerTwo"
            android:exported="false" />
        <activity
            android:name=".gameplay.GameActivity"
            android:exported="false" />
        <activity
            android:name=".gameplay.GameActivityMulti"
            android:exported="false" />
        <activity
            android:name="homescreen.HomeScreenMultiPlayerChooseCharacterPlayerTwo"
            android:exported="false" />
        <activity
            android:name="homescreen.HomeScreenMultiPlayerDogSelectedPlayerOne"
            android:exported="false" />
        <activity
            android:name="homescreen.HomeScreenMultiPlayerChooseCharacterPlayerOne"
            android:exported="false" />
        <activity
            android:name="homescreen.HomeScreenSinglePlayerTigerSelected"
            android:exported="false" />
        <activity
            android:name="homescreen.HomeScreenSinglePlayerSnakeSelected"
            android:exported="false" />
        <activity
            android:name="homescreen.HomeScreenSinglePlayerDragonSelected"
            android:exported="false" />
        <activity
            android:name="homescreen.HomeScreenSinglePlayerMouseSelected"
            android:exported="false" />
        <activity
            android:name="homescreen.HomeScreenSinglePlayerPigSelected"
            android:exported="false" />
        <activity
            android:name="homescreen.HomeScreenSinglePlayerDogSelected"
            android:exported="false" />
        <activity
            android:name="homescreen.HomeScreenSinglePlayerChooseCharacter"
            android:exported="false" />
        <activity android:name="homescreen.HomeScreenChooseMode" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>